{{ $logo := resources.Get "images/logo.svg" | resources.Minify | resources.Fingerprint }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="icon" type="image/svg+xml" href="{{ $logo.Permalink }}" integrity="{{ $logo.Data.Integrity }}">
	<style>
		{{ partial "head/style.css" $logo | safeCSS }}
	</style>
</head>
<body>
	{{ if not .IsHome }}
	<nav>
		<header>
			<a href="/">
				<img src="{{ $logo.Permalink }}" width="30" height="30" alt="hyper-expanse">{{ .Site.Title }}
			</a>
		</header>
	</nav>
	{{ end }}

	<main>
	{{ block "main" . }}
	<!-- The part of the page that begins to differ between templates -->
	{{ end }}
	</main>
</body>

</html>
