@import 'theme.css';

main.home {
	max-width: none;
}

#splash {
	background-image: var(--logo-url);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
	height: 100vh;
}
