{{ define "main" }}

{{ $url := print "images/" $.Params.picture }}
{{ $profile := resources.Get $url | resources.Fingerprint }}

<section id="profile">
	<img src="{{ $profile.Permalink }}" alt="Profile picture of {{ .Title }}" width="200px" height="200px">
	<h1>{{ .Params.title }}</h1>
	<p>{{ .Params.bio | markdownify }}</p>
</section>

<section>
	<h2>Places You Can Follow My Work</h2>
	{{ range .Params.follow }}
	<p><b>=></b> <a href="{{ .url }}">{{ .text }}</a></p>
	{{ end }}
</section>

<section>
	<h2>My Projects</h2>
	{{ range .Params.projects }}
	<section>
		<p>{{ .description | markdownify }}</p>
		<p><b>=></b> <a href="{{ .repository }}">{{ .title }}</a></p>
	</section>
	{{ end }}
</section>

<section>
	<h2>Projects Where I Contribute</h2>
	{{ range .Params.contributions }}
	<section>
		<p>{{ .description | markdownify }}</p>
		<p><b>=></b> <a href="{{ .url }}">{{ .title }}</a></p>
	</section>
	{{ end }}
</section>

<section>
	<h2>My Publications</h2>
	{{ range .Params.publications }}
	<section>
		<h3>{{ .title }} - {{ .subtitle }}</h3>
		<p>{{ .description | markdownify }}</p>
		<p><b>=></b> <a href="{{ .shop }}">Purchase printed copy of {{ .title }} - {{ .subtitle }}</a></p>
	</section>
	{{ end }}
</section>

<section>
	<h2>Guides I've Written</h2>
	{{ range where (where .Site.Pages "Type" "guide") "Draft" false }}
	<p><b>=></b> <a href="{{ .Permalink }}">{{ .Title }}</a></p>
	{{ end }}
</section>

<section>
	<h2>How to Sponsor Me</h2>
	{{ range .Params.sponsor }}
	<p><b>=></b> <a href="{{ .url }}">{{ .text }}</a></p>
	{{ end }}
</section>

<section>
	<h2>Employment</h2>
	{{ range .Params.employment }}
	<section>
		<header>
			<h3>{{ .company }}</h3>
			<p class="subtitle">Position: {{ .title }}, {{ .start }} - {{ .end }}</p>
		</header>
		{{ range .roles }}
		{{ if .start }}<p>{{ .start }} - {{ .end }}</p>{{ end }}
		<ul>
			{{ range .contributions }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
		{{ end }}
		<footer>
			<p><b>=></b> <a href="{{ .website }}">{{ .company }}</a></p>
		</footer>
	</section>
	{{ end }}
</section>

<p>{{ .Content }}</p>

{{ end }}
